<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ivanchenko\LowStockReport\Api\LowStockReportManagementInterface"
                 type="Ivanchenko\LowStockReport\Model\LowStockReportManagement"/>
    <preference for="Ivanchenko\LowStockReport\Api\Data\LowStockReportInterface"
                 type="Ivanchenko\LowStockReport\Model\Data\LowStockReport"/>
    <preference for="Ivanchenko\LowStockReport\Api\Data\LowStockItemInterface"
                 type="Ivanchenko\LowStockReport\Model\Data\LowStockItem"/>
</config>
